{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
nouvel utilisateur
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-center my-4">Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/calla/OneDrive/Bureau/SIO/Symfony/boilerplate/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Users/calla/OneDrive/Bureau/SIO/Symfony/boilerplate/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
