{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
{{ title }}
{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Création d'un modèle</h1>
    {% include "partials/_form_marque.html.twig" %}
{% endblock %}
