{% extends 'base.html.twig' %}

{% block title %}Motos{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{moto.id}}</td>
            </tr>
            <tr>
                <th scope="row">Immatriculation</th>
                <td>{{moto.libelle}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moto_index')}}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}
